
.row
	.large-6.columns
		.h2 Playlist
		%table
			%thead
				%tr
					%th Album name
					%th Artist
				%tr
				- unless @albums.nil?
					- @albums.each do |album|
						%td Album name

		.large-offset-1
			
			= link_to 'Create New Playlist', new_music_path, :class => "button"
					