.row
	.large-block-grid-5
		.small-block-grid-4
			.h1 Playlists
		%br
		%table
			%thead
				%tr
					%th Album name
					%th Artist
			- unless @albums.nil?
				- @albums.each do |album|
					%tr
						%td 
							= album.name
						%td
							= album.artist.first_name
							= album.artist.last_name

			
		= link_to 'Add Songs', new_playlist_path, :class => "button medium"
					